<!DOCTYPE html>
<html ng-app='app'>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <title>People Posts</title>
</head>

<!-- Base html -->
<!-- ng-app  creates the angular application -->
<body>

    <!-- ng-controller -->
    <div ng-controller = "PostsCtrl" class="container">
        <h1>Recent Posts</h1>
        <form role = "form">
            <div class="form-group">
                <div class="input-group">
                    <input ng-model='postBody' class="form-control" />
                    <span class="input-group-btn">
                       <button ng-click="addPost()" class="btn btn-default">Add Post</button>
                    </span>
                </div>
             </div>
        </form>

        <!-- instantiates a template once per item from a collection and orders them by date-->
        <ul class="list-group">
            <li ng-repeat="post in posts | orderBy:'-date'" class="list-group-item">
                <strong>@{{ post.username }}</strong>
                <span>{{ post.body }}</span>
            </li>
        </ul>
    </div>

    <!-- grabs the angular libraries from Google -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
    <script src="/app.js"></script>
</body>
</html>